<%= simple_form_for([@schedulable, @schedule], data: ({ remote: true } if request.xhr?)) do |f| %>
  <div class="form-inputs">
    <div class="row">
      <div class="col-md-4">
        <%= calendar_time_data %>
        <%= f.input :scheduled_at, as: :hidden %>
        <br />
      </div>
      <div class="col-md-8">
        <%= f.input :description, input_html: { autofocus: true, rows: 10 } %>
        <%= remind_me_field f %>
        <div class="form-actions">
          <%= f.button :submit, t('schedules.save'), class: 'btn-primary',
            data: { disable_with: t('navigation.processing') } %>
        </div>
      </div>
    </div>
    <%= f.input :lock_version, as: :hidden %>
  </div>
<% end %>
