<%= simple_form_for([@schedulable, @schedule], data: ({ remote: true } if request.xhr?)) do |f| %>
  <div class="form-inputs">
    <div class="row">
      <div class="col-md-4">
        <%= content_tag :div, nil, data: {
          calendar_time: render(partial: 'calendar_time_data', formats: [:json])
        } %>
        <%= f.input :scheduled_at, as: :hidden %>
        <br />
      </div>
      <div class="col-md-8">
        <%= f.input :description, input_html: { autofocus: true, rows: 5 } %>
      </div>
    </div>
    <%= f.input :lock_version, as: :hidden %>
  </div>

  <hr />

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.button :submit, class: 'btn-primary',
      data: { disable_with: t('navigation.processing') } %>
  </div>
<% end %>
