<table class="table table-hover table-bordered table-striped payments-data"
  data-payments-data="<%= PAYMENTS_DATA.to_json %>">
  <thead>
    <tr>
      <th><%= Payment.model_name.human(count: 0) %></th>
      <th><%= Loan.human_attribute_name :amount %></th>
    </tr>
  </thead>

  <tbody>
    <% PAYMENTS_DATA.keys.each do |payment_count|  %>
      <tr>
        <td><%= payment_count %></td>
        <td data-calculator-<%= payment_count %>="true"></td>
      </tr>
    <% end %>
  </tbody>
</table>
