<%= simple_form_for(@customer, data: ({ remote: true } if request.xhr?)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= Customer.model_name.human count: 1 %>
          </div>
          <div class="panel-body">
            <%= f.input :name, input_html: { autofocus: true } %>
            <%= f.input :lastname %>
            <%= f.input :identification %>
            <%= f.input :address %>
            <%= f.association :company, label: company_label, prompt: true,
              input_html: { data: { update_after_company_change: true } } %>
            <%= f.association :city, label: city_label, prompt: true,
              input_html: { data: { update_after_city_change: true } }
            %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= Phone.model_name.human count: 0 %>
          </div>
          <div class="panel-body">
            <%= f.simple_fields_for :phones, customer_phones do |ff| %>
              <%= render 'phones/phone', f: ff %>
            <% end %>

            <%= link_to_add_fields t('customers.new.phone'), f, :phones %>
          </div>
        </div>
      </div>
    </div>
    <%= f.input :lock_version, as: :hidden %>
  </div>

  <hr />

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.button :submit, class: 'btn-primary',
      data: { disable_with: t('navigation.processing') } %>
  </div>
<% end %>
