<tr>
  <td><%= customer.lastname %></td>
  <td><%= customer.name %></td>
  <td><%= customer.identification %></td>
  <td><%= customer.address %></td>
  <td><%= customer.company %></td>
  <td><%= customer.city %></td>
  <td><%= link_to_show customer %></td>
  <td><%= link_to_edit edit_customer_path(customer) %></td>
  <td><%= link_to_destroy customer %></td>
</tr>
