<%= render 'search' %>

<br />
<% if @customers.empty? %>
  <%= render 'shared/empty_index', message: t('.empty_html') %>
<% else %>
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th><%= Customer.human_attribute_name 'name' %></th>
        <th><%= Customer.human_attribute_name 'identification' %></th>
        <th><%= Customer.human_attribute_name 'member' %></th>
        <th class="hidden-xs"><%= Customer.human_attribute_name 'email' %></th>
      </tr>
    </thead>

    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= link_to customer, customer %></td>
          <td><%= customer.identification %></td>
          <td><%= t "customers.member.#{customer.member}" %></td>
          <td class="hidden-xs"><%= mail_to customer.email, customer.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<hr />

<%= link_to_new new_customer_path, class: 'btn btn-primary' %>
