<%= render 'search' %>

<br />
<% if @customers.empty? %>
  <%= render 'shared/empty_index', message: t('.empty_html') %>
<% else %>
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th><%= Customer.human_attribute_name 'name' %></th>
        <th class="hidden-xs"><%= Customer.human_attribute_name 'identification' %></th>
        <th><%= Customer.human_attribute_name 'kind' %></th>
        <th><%= Customer.human_attribute_name 'member' %></th>
        <th class="hidden-xs"><%= Customer.human_attribute_name 'job' %></th>
      </tr>
    </thead>

    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= link_to customer, customer %></td>
          <td class="hidden-xs"><%= customer.identification %></td>
          <td><%= t "customers.jobs.#{customer.current_job_kind}" %></td>
          <td><%= t "customers.member.#{customer.member ? '_yes' : '_no'}" %></td>
          <td class="hidden-xs"><%= customer.current_job.label %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<hr />

<div class="footer">
  <%= paginate @customers %>
  <%= link_to_new new_customer_path, class: 'btn btn-primary' %>
</div>
