<%= render 'search' %>

<br />
<% if @customers.empty? %>
  <%= render 'shared/empty_index', message: t('.empty_html') %>
  <%= render 'footer' %>
<% elsif @customers.size == 1 %>
  <%= render template: 'customers/show', locals: { :@customer => @customers.first } %>
<% else %>
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th><%= Customer.human_attribute_name 'name' %></th>
        <th><%= Customer.human_attribute_name 'identification' %></th>
        <th><%= Customer.human_attribute_name 'email' %></th>
      </tr>
    </thead>

    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= link_to customer, customer_path(customer) %></td>
          <td><%= customer.identification %></td>
          <td><%= mail_to customer.email, customer.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= render 'footer' %>
<% end %>
