<%= render 'search' %>

<div class="page-header">
  <h2>
    <strong><%= @customer %></strong>
    <small>
      <span>|</span>
      <%= t "customers.jobs.#{@customer.current_job_kind}" %>
      <span>|</span>
      <%= t "customers.member.#{@customer.member ? 'active': 'inactive'}" %>
    </small>
  </h2>
</div>

<div class="row">
  <div class="col-md-4">
    <p>
      <strong><%= Customer.human_attribute_name 'identification' %></strong>:
      <%= @customer.identification %>
    </p>
    <strong><%= Phone.model_name.human(count: 0) %></strong>:
    <ul>
      <% @customer.phones.each do |phone| %>
        <li><%= phone %></li>
      <% end %>
    </ul>
    <p>
      <strong><%= Customer.human_attribute_name 'tax_id' %></strong>:
      <%= @customer.tax_id %>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <strong><%= Customer.human_attribute_name 'address' %></strong>:
      <%= @customer.address %>
    </p>
    <p>
      <strong><%= Customer.human_attribute_name 'city' %></strong>:
      <%= @customer.city %>
    </p>
    <p>
      <strong><%= Customer.human_attribute_name 'email' %></strong>:
      <%= mail_to @customer.email, @customer.email %>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <strong><%= Customer.human_attribute_name 'job' %></strong>:
      <%= @customer.current_job.label %>
    </p>
    <p>
      <strong><%= Job.human_attribute_name 'joining_at' %></strong>:
      <%= l @customer.current_job.joining_at if @customer.current_job.joining_at %>
    </p>
    <strong><%= Phone.model_name.human(count: 0) %></strong>:
    <ul>
      <% (@customer.current_job_phones || []).each do |phone| %>
        <li><%= phone %></li>
      <% end %>
    </ul>
  </div>
</div>

<hr />

<%= render 'loans', loans: @customer.loans.order_by_expiration %>

<hr />

<div class="footer">
  <div class="pull-right">
    <%= link_to_edit edit_customer_path(@customer) %> |
    <%= link_to_index customers_path %> |
    <%= link_to t('navigation.back'), :back %>
  </div>
  <%= link_to(
    t('loans.new.title'), new_customer_loan_path(@customer),
    class: 'btn btn-primary', data: { remote: true }
  ) %>
</div>
