<%= render 'search' %>

<div class="page-header">
  <h2><%= @customer %></h2>
</div>

<div class="row">
  <div class="col-md-6">
    <p>
      <strong><%= Customer.human_attribute_name 'profile.title' %></strong>:
      <%= @customer.kind %>
    </p>
    <p>
      <strong><%= Customer.human_attribute_name 'identification' %></strong>:
      <%= @customer.identification %>
    </p>
    <strong><%= Phone.model_name.human(count: 0) %></strong>:
    <ul>
      <% @customer.phones.each do |phone| %>
        <li><%= phone %></li>
      <% end %>
    </ul>
    <p>
      <strong><%= Customer.human_attribute_name 'tax_id' %></strong>:
      <%= @customer.tax_id %>
    </p>
  </div>
  <div class="col-md-6">
    <p>
      <strong><%= Customer.human_attribute_name 'email' %></strong>:
      <%= mail_to @customer.email, @customer.email %>
    </p>
    <p>
      <strong><%= Customer.human_attribute_name 'address' %></strong>:
      <%= @customer.address %>
    </p>
    <p>
      <strong><%= Customer.human_attribute_name 'city' %></strong>:
      <%= @customer.city %>
    </p>
  </div>
</div>

<hr />

<%= render 'loans', loans: @customer.loans %>

<hr />

<div class="footer">
  <div class="pull-right">
    <%= link_to_edit edit_customer_path(@customer) %> |
    <%= link_to_index customers_path %>
  </div>
  <%= link_to(
    t('loans.new.title'), new_customer_loan_path(@customer),
    class: 'btn btn-primary', data: { remote: true }
  ) %>
</div>
