<div class="page-header">
  <h2><%= @customer %></h2>
</div>

<p>
  <strong><%= Customer.human_attribute_name 'identification' %></strong>:
  <%= @customer.identification %>
</p>
<p>
  <strong><%= Customer.human_attribute_name 'address' %></strong>:
  <%= @customer.address %>
</p>
<p>
  <strong><%= Customer.human_attribute_name 'city' %></strong>:
  <%= @customer.city %>
</p>
<p>
  <strong><%= Customer.human_attribute_name 'company' %></strong>:
  <%= @customer.company %>
</p>

<p>
  <strong><%= Phone.model_name.human count: 0 %></strong>:
</p>

<ul>
  <% @customer.phones.each do |phone| %>
    <li><%= phone %></li>
  <% end %>
</ul>

<hr />

<%= link_to_edit edit_customer_path(@customer) %> |
<%= link_to_index customers_path %> |
<%= link_to t('navigation.back'), :back %>
