<%= simple_form_for(@company, data: ({ remote: true } if request.xhr?)) do |f| %>
  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= render('shared/panel',
          title: Company.model_name.human(count: 1),
          body: render('form_fields', f: f)
        ) %>
      </div>
      <div class="col-md-6">
        <%= render('shared/panel',
          title: Phone.model_name.human(count: 0),
          body: render('phones/form', f: f)
        ) %>
      </div>
    </div>
  </div>

  <hr />

  <div class="footer form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.button :submit, class: 'btn-primary',
      data: { disable_with: t('navigation.processing') } %>
  </div>
<% end %>
