<h2><%= @company %></h2>

<p>
  <strong><%= Company.human_attribute_name 'name' %></strong>:
  <%= @company.name %>
</p>

<%= link_to_edit edit_company_path(@company) %> |
<%= link_to_index companies_path %>
