<%= simple_form_for(@loan) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs row">
    <div class="col-md-6">
      <%= render('shared/panel',
        title: Loan.model_name.human(count: 1),
        body: render('form_fields', f: f)
      ) %>
    </div>
    <div class="col-md-6">
      <%= render 'shared/calculator' %>
    </div>
  </div>

  <hr />

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
