<%= simple_form_for(@loan) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= Loan.model_name.human count: 1 %>
        </div>
        <div class="panel-body">
          <%= f.input :amount, as: :string %>
          <%= f.input :payments_count, collection: PAYMENTS_COUNT.keys,
            prompt: true %>
          <%= f.input :customer, as: :autocomplete, label: customer_label,
            url: customers_path, input_html: {
            autofocus: true, data: { autocomplete_update_after: true }
          } %>
          <%= f.input :lock_version, as: :hidden %>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
