<div class="panel panel-default panel-loan-info">
  <div class="panel-body">
    <div class="text-right">
      <%= link_to_remove_target(removeable: @loan.to_param) %>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= render partial: 'loans/customer_info' %>
      </div>
      <div class="col-md-6">
        <p>
          <strong><%= Customer.human_attribute_name 'kind' %></strong>:
          <%= t "customers.jobs.#{@loan.customer_current_job_kind}" %>
        </p>
        <p>
          <strong><%= Loan.human_attribute_name 'amount' %></strong>:
          <%= number_to_currency @loan.amount %>
        </p>
        <p>
          <%= loan_progress_info(@loan) %>
        </p>
        <p>
          <strong><%= Loan.human_attribute_name 'debt' %></strong>:
          <%= render partial: 'loans/debt', locals: { loan: @loan } %>
        </p>
        <p>
          <strong><%= Loan.human_attribute_name 'user' %></strong>:
          <%= @loan.user %>
        </p>
      </div>
    </div>

    <hr />

    <%= render template: 'payments/index' %>
  </div>
</div>
