<div class="panel panel-default panel-loan-info">
  <div class="panel-body">
    <div class="text-right">
      <%= link_to_remove_target("[data-removeable=\"#{@loan.to_param}\"]") %>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= render 'loans/customer_info' %>
      </div>
      <div class="col-md-6">
        <p>
          <strong><%= Loan.human_attribute_name :amount %></strong>:
          <%= number_to_currency @loan.amount %>
        </p>
        <p>
          <%= loan_progress_info(@loan) %>
        </p>
        <p>
          <strong><%= Loan.human_attribute_name 'debt' %></strong>:
          <%= render partial: 'loans/debt', locals: { loan: @loan } %>
        </p>
        <p>
          <strong><%= Loan.human_attribute_name 'user' %></strong>:
          <%= @loan.user %>
        </p>
      </div>
    </div>

    <hr />

    <table class="table table-condensed">
      <thead>
        <tr>
          <th><%= Payment.human_attribute_name 'number' %></th>
          <th><%= Payment.human_attribute_name 'payment' %></th>
          <th><%= Payment.human_attribute_name 'expired_at' %></th>
          <th><%= Payment.human_attribute_name 'paid_at' %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%= render @loan.payments %>
      </tbody>
    </table>
  </div>
</div>
