<%= form_tag loans_path, method: :get do %>
  <div class="row">
    <div class="col-md-1">
      <%= label_tag :start_date, t('navigation.start_date') %>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= text_field_tag :start_date, params[:start_date],
          autocomplete: 'off', class: 'form-control', data: { date_picker: true } %>
      </div>
    </div>
    <div class="col-md-1">
      <%= label_tag :end_date, t('navigation.end_date') %>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= text_field_tag :end_date, params[:end_date],
          autocomplete: 'off', class: 'form-control', data: { date_picker: true } %>
      </div>
    </div>
    <div class="col-md-2">
      <%= submit_tag t('navigation.search'), class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
