<table class="table table-striped table-hover table-condensed" data-endless-container="true">
  <thead>
    <tr>
      <th><%= Customer.model_name.human(count: 0) %></th>
      <th><%= Loan.human_attribute_name 'amount' %></th>
      <th class="hidden-xs"><%= Loan.human_attribute_name 'payments_count' %></th>
      <th class="hidden-xs"><%= Loan.human_attribute_name 'created_at' %></th>
      <th class="hidden-xs"><%= Loan.human_attribute_name 'expire_at' %></th>
      <%= show_filter_column %>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'tbody', collection: @loans, as: :loan %>
  </tbody>
</table>

<div class="pagination-container">
  <%= will_paginate @loans %>
</div>
