<tr data-object-info="<%= loan.to_param %>">
  <td><%= show_customer_status loan  %></td>
  <td><%= number_to_currency loan.amount %></td>
  <td class="hidden-xs"><%= show_payments_count(loan) %></td>
  <td class="hidden-xs"><%= l loan.created_at.to_date %></td>
  <td class="hidden-xs"><%= l loan.expire_at %></td>
  <%= show_filter_row(loan) %>
  <td><%= link_to_new_loan_schedule loan %></td>
</tr>
