<div class="row">
  <div class="col-md-3">
    <%= render 'menu_filter' %>
    <br />
    <%= render 'summary' if params[:filter].blank? %>
  </div>
  <div class="col-md-9">
    <%= render 'shared/search', url: loans_path if params[:filter].blank? %>
    <% if @loans.empty? %>
      <%= render 'shared/empty_index',
        message: t("loans.empty.#{(params[:filter] || 'search')}_html") %>
    <% else %>
      <%= render 'table' %>
    <% end %>
  </div>
</div>
