<p>
  <strong><%= Loan.human_attribute_name 'customer' %></strong>:
  <%= @loan.customer %>
</p>
<p>
  <strong><%= Loan.human_attribute_name 'payments_count' %></strong>:
  <%= @loan.payments_count %>
</p>
<p>
  <strong><%= Loan.human_attribute_name 'payment' %></strong>:
  <%= number_to_currency @loan.payment %>
</p>
<%= render 'payments/total_debt' %>
<p>
  <strong><%= Loan.human_attribute_name 'expired_at' %></strong>:
  <%= l @loan.expired_at %>
</p>
<p>
  <strong><%= Loan.human_attribute_name 'user' %></strong>:
  <%= @loan.user %>
</p>

<hr />

<%= link_to_index loans_path %>
