<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <%= fa_icon('gears', text: t('menu.admin')) %> <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <%= menu_item_for User, users_path %>
    <%= menu_item_for State, states_path %>
    <%= menu_item_for City, cities_path %>
    <%= menu_item_for Company, companies_path %>
    <%= menu_item_for Organization, organizations_path %>
    <%= menu_item_for TaxSetting, tax_settings_path %>
    <%= menu_item_for RateSet, rate_sets_path %>
  </ul>
</li>
