<% expired = payment.expired? %>
<tr data-payment="<%= payment.to_param %>">
  <td>
    <span class="label <%= expired ? 'label-danger' : 'label-default' %>">
      <%= payment.number %>
    </span>
  </td>
  <td>
    <span <%== 'class="text-danger"' if expired %>>
      <%= number_to_currency payment.payment %>
    </span>
  </td>
  <td>
    <%= render template: 'taxes/index', locals: { payment: payment } %>
  </td>
  <td>
    <span <%== 'class="text-danger"' if expired %>>
      <%= number_to_currency(payment.payment + payments_taxes_total(payment)) %>
    </span>
  </td>
  <td>
    <span <%== 'class="text-danger"' if expired %>>
      <%= l payment.expire_at %>
    </span>
  </td>
  <%= render 'payments/paid_at', payment: payment %>
  <td>
    <%= link_to_edit edit_loan_payment_path(@loan, payment), data: { remote: true } %>
  </td>
</tr>
