<% expired = payment.expired? %>
<tr data-payment-id="<%= payment.id %>">
  <td>
    <span class="label <%= expired ? 'label-danger' : 'label-default' %>">
      <%= payment.number %>
    </span>
  </td>
  <td>
    <span <%== 'class="text-danger"' if expired %>>
      <%= l payment.expired_at %>
    </span>
  </td>
  <td><%= l payment.paid_at.to_date if payment.paid_at %></td>
  <td><%= link_to_paid edit_loan_payment_path(@loan, payment), data: { remote: true } %></td>
</tr>
