<%= simple_form_for(@rate_set) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs row">
    <div class="col-md-6">
      <%= f.input :name, input_html: { autofocus: true } %>

      <br />
      <%= render 'rates/form', f: f %>
      <%= f.input :lock_version, as: :hidden %>
    </div>
  </div>

  <hr />

  <div class="footer form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
