<h2><%= @rate_set %></h2>

<p>
  <strong><%= RateSet.human_attribute_name 'name' %></strong>:
  <%= @rate_set.name %>
</p>

<%= link_to_edit edit_rate_set_path(@rate_set) %> |
<%= link_to_index rate_sets_path %>
