<div class="page-header">
  <h2><%= @rate_set %></h2>
</div>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= Payment.model_name.human count: 0 %></th>
      <th><%= Rate.human_attribute_name 'rate' %></th>
    </tr>
  </thead>

  <tbody>
    <% @rate_set.rates.each do |rate| %>
      <tr>
        <td><%= rate.payments_count %></td>
        <td><%= number_to_currency rate.rate %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

<%= link_to_edit edit_rate_set_path(@rate_set) %> |
<%= link_to_index rate_sets_path %>
