<div class="row">
  <div class="col-md-3">
    <%= render 'summary' %>
  </div>
  <div class="col-md-9">
    <%= render 'shared/search', url: tax_setting_taxes_path %>
    <% if @taxes.empty? %>
      <%= render 'shared/empty_index', message: t('.empty_html') %>
    <% else %>
      <table class="table table-condensed table-striped" data-endless-container="true">
        <thead>
          <tr>
            <th><%= Customer.model_name.human count: 1 %></th>
            <th><%= Tax.human_attribute_name 'expire_at' %></th>
            <th><%= Tax.human_attribute_name 'paid_at' %></th>
          </tr>
        </thead>

        <tbody>
          <%= render partial: 'tbody', collection: @taxes, as: :tax %>
        </tbody>
      </table>

      <div class="pagination-container">
        <%= will_paginate @taxes %>
      </div>
    <% end %>
  </div>
</div>
