<%= simple_form_for(@public_customer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs row">
    <div class="col-md-6">
      <%= f.simple_fields_for :customer, customer_profile(f) do |fc| %>
        <%= render 'customers/form', f: fc %>

        <%= content_for :customer_fields do %>
          <%= fc.association :city, collection: City.ordered, label: add_label('city'), prompt: true,
            input_html: { data: { update_after_city_change: true } }
          %>
          <%= f.input :department %>
          <%= f.input :division %>
          <h6>
            <strong><%= Phone.model_name.human(count: 0) %></strong>
          </h6>
          <%= render('phones/form', f: fc) %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-6">
      <%= yield :customer_fields %>
    </div>
  </div>

  <hr />

  <div class="footer form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
      <%= f.button :submit, class: 'btn-primary',
        data: { disable_with: t('navigation.processing') } %>
    </div>
  </div>
<% end %>
