<% if @public_customers.empty? %>
  <%= render 'shared/empty_index', message: t('.empty_html') %>
<% else %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= PublicCustomer.human_attribute_name 'department' %></th>
        <th><%= PublicCustomer.human_attribute_name 'division' %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @public_customers.each do |public_customer| %>
        <tr>
          <td><%= public_customer.department %></td>
          <td><%= public_customer.division %></td>
          <td><%= link_to_show public_customer %></td>
          <td><%= link_to_edit edit_public_customer_path(public_customer) %></td>
          <td><%= link_to_destroy public_customer %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to_new new_public_customer_path, class: 'btn btn-primary' %>
