<div class="row">
  <div class="col-md-3">
    <%= render 'menu_filter' %>
    <br />
    <%= render 'shared/summary' %>
  </div>
  <div class="col-md-9">
    <%= render 'shared/search', url: @report.url %>

    <% if @collection.empty? %>
      <%= render 'shared/empty_index', message: t('.empty_html') %>
    <% else %>
      <%= render @report.partial %>

      <%= paginate @collection %>
    <% end %>
  </div>
</div>
