<!doctype html>
<html lang="<%= locale %>">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="turbolinks-cache-control" content="no-cache">
  <%= favicon_link_tag '/favicon.ico', rel: 'icon', type: 'image/x-icon' %>
  <%= stylesheet_link_tag    'application', data: { turbolinks_track: 'reload' }, media: 'all' %>
  <%= javascript_include_tag 'application', data: { turbolinks_track: 'reload' } %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/menu' %>

  <div class="container-fluid">
    <%= yield %>
  </div>
</body>
</html>
